<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>内容列表</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        .searchInfoContainer{
            margin-bottom: 20px;
        }
        .searchInfoContainer:nth-child(2){
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
        }
        .sortCol{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="searchInfoContainer form-inline">
    <select name="searchType" id="searchType" class="form-control">
        <option value="1">标题</option>
        <option value="2">标签</option>
    </select>
    <input type="text" name="searchIpt" id="searchIpt" class="form-control">
    <a href="javascript:searchData();" id="searchBtn" class="btn btn-primary">Search</a>
</div>
<div class="searchInfoContainer">
    <span>类别:</span>
    <a href="javascript:getAllData();">全部</a>
    <#list kinds as kind>
            <a href="javascript:searchData(${kind.kindId});">${kind.name}</a>
        </#list>
</div>
<a href="/content/addH" style="margin-bottom: 20px;display: inline-block;">添加新内容</a>
<a href="javascript:getPageData(-1)" class="btn prePage">上一页</a>
<a href="javascript:getPageData(1)" class="btn nextPage">下一页</a>
<table id="contetListContainer" class="table table-striped table-bordered">

</table>
<a href="/content/addH">添加新内容</a>
<a href="javascript:getPageData(-1)" class="btn prePage">上一页</a>
<a href="javascript:getPageData(1)" class="btn nextPage">下一页</a>

<script src="${ctx}/scripts/jquery-1.8.3.min.js"></script>
<script src="${ctx}/scripts/react.js"></script>
<script src="${ctx}/jsx/contentList.js"></script>

<script type="text/javascript">
    var currentP=1;

    var myCompent;
    var searchObj={searchType:'list',searchIpt:'',searchBy:''};
    var page={pageNum:0,pageSize:10};
    var sortObj={order:"",sort:""};
    function initData() {
        myCompent=React.render(
                React.createElement(MyList,{"data":[]}),
                document.getElementById("contetListContainer"),
                function(){
                    $("#contetListContainer").prepend("<thead><tr><th class='alignCenter' width='40'>ID</th><th>标题</th><th width='60'>类别</th><th width='60' class='sortCol' data-id='isTop'>置顶</th><th width='60' class='sortCol' data-id='isRecommend'>推荐</th><th width='80' class='sortCol' data-id='isSlide'>幻灯片</th><th width='140'>操作</th></tr></thead>")
                    $(".sortCol").click(function(){
                        var sortCol=$(this).attr("data-id");
                        var txt=$(this).text().substring(0,2);
                        if(sortCol==sortObj.order){
                            if($(this).hasClass("desc")){
                                sortObj.sort="asc";
                                $(this).html(txt+"&#8593;");
                            }else{
                                sortObj.sort="desc";
                                $(this).html(txt+"&#8595;");
                            }
                            $(this).toggleClass("desc asc");
                        }else{
                            $(".sortCol").each(function(i,j){
                                $(j).text($(j).text().substring(0,2));
                            })
                            sortObj.order=sortCol;
                            $(".sortCol").removeClass(sortObj.sort);
                            sortObj.sort="desc";
                            $(this).addClass("desc");
                            $(this).html(txt+"&#8595;");
                        }

                        getData();
                    })
                }
        )
    }

    $("#searchIpt").keyup(function(e){
        if(e.keyCode==13){
            searchData();
        }
    })

    function searchData(kindId){
        if(kindId!=undefined){
            searchObj.searchBy="kind";
            searchObj.searchIpt=kindId;
        }else {
            searchObj.searchBy = $("#searchType").val() == "1" ? "title" : "tag";
            searchObj.searchIpt = $("#searchIpt").val();
        }
        searchObj.searchType="search";
        if(searchIpt.length==0){
            alert("搜索内容不能为空");
            return false;
        }
        page.pageNum=1;
        getData();
        changePageBtnState();
    }

    function getAllData(){
        searchObj.searchIpt="";
        searchObj.searchType="list";
        page.pageNum=1;
        getData();
    }

    function getPageData(n){
        if(n==1){
            page.pageNum++;
            $(".prePage").removeClass("disabled");
        }else{
            page.pageNum--;
            $(".nextPage").removeClass("disabled");
        }
        if(page.pageNum==1){
            $(".prePage").addClass("disabled");
        }
        getData();
    }

    function getData(){
        var data={
            page:page.pageNum,
            keyword:searchObj.searchIpt,
            size:page.pageSize,
            order:sortObj.order,
            sort:sortObj.sort,
            searchBy:searchObj.searchBy
        };
        $.ajax("/content/"+searchObj.searchType,{
            data:data,
            success:function(data){
                changePageBtnState();
                if(data.returnData.list.length>0) {
                    myCompent.setProps({"data": data.returnData.list});
                }else{
                    $(".nextPage").addClass("disabled");
                    page.pageNum--;
                    alert("没有内容了");
                }
                window.location.hash=page.pageNum.toString();
            }
        })
    }

    function changePageBtnState() {
        $(".prePage,.nextPage").removeClass("disabled");
        if(page.pageNum<=1){
            $(".prePage").addClass("disabled");
        }
        window.location.hash=page.pageNum.toString();
    }

    $("#contetListContainer").delegate(".delContent","click",function(){
        var that=$(this).closest("tr");
        var id=$(this).attr("alt");
        $.ajax("/content/del",{
            data:{contentId:id},
            success:function(data){
                if(data.returnCode=="1001"){
                    that.fadeOut();
                }
                else{
                    alert(data.returnMsg);
                }
            }
        })
    })

    function getDataByHash(){
        var hashP=window.location.hash;
        if(hashP.length>1){
            hashP=hashP.substring(hashP.indexOf("#")+1);
            page.pageNum=parseInt(hashP);
            getData(1);
        }else{
            page.pageNum=1;
            getData();
        }
    }


    initData();
    getDataByHash();
</script>
</body>
</html>